.App {
  text-align: center;
}

.a-center{
  align-items: center;
}

.flex{
  display: flex;
}
.space-a{
  justify-content: space-around;
}

.j-center{
  justify-content: center;
}

.main-box{
  border-radius: 5px;
  border: darkseagreen solid 3px;
  padding: 5px;
  margin: 50px ;
  height: 100%;
  width: 1000px;
}


.border{
  border: black 3px solid;
}

.margin{
  margin: 5px;
}
